@use "elements/form";
@use "elements/button";

:host{
  display: grid;
  grid-template: 1fr auto 1fr / auto minmax(300px, 500px) auto;
  height: 100vh;
}

img{
  max-width: 40%;
  justify-self: center;
}

app-card{
  position: relative;
  grid-area: 2 / 2;
}
