@use "elements/form";
@use "elements/button";

:host{
  display: grid;
  grid-template: 1fr auto 1fr / auto minmax(300px, 500px) auto;
  height: 100vh;
}

img{
  max-width: 40%;
  justify-self: center;
}

app-card{
  position: relative;
  grid-area: 2 / 2;
 //  opacity: 0;

 //  animation: show-card 1s forwards cubic-bezier(0, 0, 0.5, 1) 500ms;
}

/*
@keyframes show-card{
  0%{
    opacity: 0;
    top: -50px;
  }
  100%{
    opacity: 1;
    top: 0;
  }
}
*/
