<app-card>
  <h1>Da stimmt was nicht.</h1>
  <article>
    <p>Es kann an vielem liegen:<br> Eventuell sind deine Bewegungen zu langsam oder dein Ping ist zu hoch.</p>
    <p>Wir haben das Problem geloggt und werden es uns anschauen.<br><em>(Ich hoffe wir haben einen Log-Service
      implementiert @stui?!)</em></p>

    <p>Ich denke / hoffe, dass sich ein Entwickler um das Problem kümmert. Aber zwischen uns: Versuche es doch später
      nocheinmal..</p>
  </article>
  <div class="button-group">
    <button class="button button-secondary">Mach nix.</button>
    <a [routerLink]="['/login']" class="button button-primary" title="Login">Neu versuchen</a>
  </div>
</app-card>
