@use "abstracts" as *;

.form{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2em;
  &-control{
    display: grid;
    grid-template-columns: 1fr;

    &-action{
      text-align: right;
      text-decoration: none;
      color: $color-primary-light;
    }
  }
  &-actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
  }
}

input{
  border: 2px solid $color-black;
  border-radius: 0;
  outline: none;

  padding: 1rem 2.4rem;
  cursor: pointer;
  font-weight: 400;
  line-height: 1;
}
