<app-card *ngIf="(requestInformation$ | async) as requestInformation">
  <img *ngIf="requestInformation.icon" [src]="requestInformation.icon" alt="Isle of LAN" height="70">
  <h1>{{requestInformation.title}}</h1>
  <p>
    {{requestInformation.description}}
  </p>

  <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ng-container *ngIf="(apiErrors$ | async) as errors">
      <ul *ngIf="errors.length" class="form-errors">
        <li *ngFor="let error of errors">
          {{error.message}}
        </li>
      </ul>
    </ng-container>
    <div class="form-control">
      <label for="username">Bentzername</label>
      <input type="text" id="username" formControlName="username" autocomplete="username">
    </div>
    <div class="form-control">
      <label for="password">Passwort</label>
      <input type="password" id="password" formControlName="password" autocomplete="current-password">
      <a class="form-control-action" routerLink="/reset-password" title="password reset">Passwort zurücksetzen</a>
    </div>
    <div class="form-actions">
      <button class="button button-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
      <a class="button button-secondary" routerLink="/register" title="Register">Registrieren</a>
    </div>
  </form>
</app-card>
