/* You can add global styles to this file, and also import other style files */
@use "base/normalize";

@keyframes show-bg {
  0% {
    opacity: 0;
    left: -20vw;
  }
  100% {
    opacity: 1;
    left: -10vw;
  }
}

body{
  display: grid;
  height: 100vh;
  width: 100vh;
  position: relative;
  &::before{
    content: "";
    position: absolute;
    top: -10vh;
    left: -10vw;
    width: 60vw;
    height: 120vh;
    background: linear-gradient(
        15deg, #2764ae 50%, #549fd7 100%);
    -webkit-box-shadow: 0 0 72px rgb(0 0 0 / 26%);
    -moz-box-shadow: 0 0 72px rgba(0, 0, 0, 0.26);
    box-shadow: 0 0 72px rgb(0 0 0 / 26%);
    -webkit-transform: skew(
        -15deg);
    -moz-transform: skew(-15deg);
    -ms-transform: skew(-15deg);
    -o-transform: skew(-15deg);
    transform: skew(
        -15deg);
    z-index: -1;
    animation-name: show-bg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0, 0, 0.25, 1);
    opacity: 0;
  }
}
