<app-card>
  <img alt="Isle of LAN" src="/src/assets/isleoflan.svg">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
  </p>
  <form class="form" [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="password">New password</label>
      <input type="password" id="password" formControlName="password" autocomplete="new-password">
    </div>
    <div class="form-control">
      <label for="password-confirm">Confirm new password</label>
      <input type="password" id="password-confirm" formControlName="passwordConfirm" autocomplete="new-password">
    </div>
    <div class="form-actions">
      <button class="button button-primary" type="submit" [disabled]="!setPasswordForm.valid">Reset password</button>
    </div>
  </form>
</app-card>
