<app-card>
  <img alt="Isle of LAN" src="/assets/isleoflan.svg">
  <p>
    Du kannst nun dein neues Passwort setzen.
  </p>
  <form class="form" [formGroup]="setPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="password">Neues Passwort</label>
      <input type="password" id="password" formControlName="password" autocomplete="new-password">
    </div>
    <div class="form-control">
      <label for="password-confirm">Neues Passwort wiederholen</label>
      <input type="password" id="password-confirm" formControlName="passwordConfirm" autocomplete="new-password">
    </div>
    <div class="form-actions">
      <button [disabled]="!setPasswordForm.valid" class="button button-primary" type="submit">Passwort zurücksetzen
      </button>
    </div>
  </form>
</app-card>
