<app-card>
  <img alt="Isle of LAN" src="/src/assets/isleoflan.svg">
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat
  </p>
  <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" autocomplete="email">
    </div>
    <div class="form-actions">
      <button class="button button-primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
    </div>
  </form>
</app-card>
