<app-card *ngIf="(requestInformation$ | async) as requestInformation">
  <img [src]="requestInformation.icon" alt="Isle of LAN" height="70">
  <p>
    {{requestInformation.description}}
  </p>
  <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email" autocomplete="email">
    </div>
    <div class="form-actions">
      <button class="button button-primary" type="submit" [disabled]="!resetPasswordForm.valid">Reset</button>
    </div>
  </form>
</app-card>
